.jk-cart {
  display: flex;
  align-items: center;
}
.jk-cart>div {
  position: relative;
}
.jk-cart>div>u, .jk-cart>u {
  position: absolute;
  right: -0.5rem;
  top: 0rem;
  font-size: 0.7em;
  background-color: red;
  display: flex;
  align-items: center;
  color: white;
  min-width: 1rem;
  padding: 0 3px;
  height: 1.0rem;
  text-align: right;
  text-decoration: none;
  justify-content: center;
  border-radius: 0.6rem;
}

.jk-cart>u {
	right: -0.7rem;
	top: -0.3rem;
	font-size: 0.6.rem;
}

.text-danger-2 {
  color: #ff8080;
}

.sep-product-select {
  border-top: 1px solid #f0f0f0;
}

.reset-z-fieldset fieldset{
  margin: 0 !important;
  color: black;
}

.reset-z-ul ul{
  padding: 0 !important;
  list-style: none !important;
  font-size: 14px;
}

.reset-z-ul-a a{
   color: #666666 !important;
}

.reset-z-footer-title .footer-title{
  font-weight: 600 !important;
}

.reset-z-contact .contact{
  color: #666666 !important;
  font-size: 14px;
}

.reset-z-footer-bg{
  background: #f1f1f1 !important;
}

.reset-z-header-boxS header{
  box-shadow: none;
}

.modal-dialog-show{
  animation: modal-dialog-show .35s linear forwards;
}

.article-product-list td:first-child{
  width: auto !important;
}

.table td{
  vertical-align: middle;
}

@media (max-width: 320px) {
  .z-height,.z-height-more{
    height: 70px;
  }
}

@media (min-width: 320px) {
  .z-height{
    height: 120px;
  }
  .z-height-more{
    height: 85px;
  }
}

@media (min-width: 375px) {
  .z-height{
    height: 150px;
  }
  .z-height-more{
    height: 105px;
  }
}

@media (min-width: 540px) {
  .z-height{
    height: 200px;
  }
  .z-height-more{
    height:150px;
  }
}

@media (min-width: 576px) {
  .z-height,.z-height-more{
    height: calc(1.5em + 10rem + 2px);
  }
}

@media (min-width: 992px) {
  .z-height{
    height: calc(1.5em + 11rem + 2px);
  }
  .z-height-more{
    height: calc(1.5em + 14rem + 2px);
  }
}

@media (min-width: 1200px) {
  .z-height{
    height: calc(1.5em + 12rem + 2px);
  }
  .z-height-more{
    height: calc(1.5em + 17rem + 2px);
  }
}

@media (min-width: 1300px) {
  .z-height{
    height: calc(1.5em + 14rem + 2px);
  }
}

@keyframes modal-dialog-show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.scroll-S{
  overflow-x: hidden !important;
}

.scroll-S::-webkit-scrollbar {
    width: 6px;/*对垂直流动条有效*/
    border-radius: 5rem;
    height: 6px;/*对水平流动条有效*/
}

/*定义滑块颜色、内阴影及圆角*/
.scroll-S::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background-color: #bfbfbf;
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
.scroll-S::-webkit-scrollbar-track {
    border-radius: 5rem;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #e5e5e5;
}