.jk-cart {
  display: flex;
  align-items: center;
}
.jk-cart>div {
  position: relative;
}
.jk-cart>div>u {
  position: absolute;
  right: -0.5rem;
  top: 0rem;
  font-size: 0.7em;
  background-color: red;
  display: flex;
  align-items: center;
  color: white;
  min-width: 1rem;
  padding: 0 3px;
  height: 1.0rem;
  text-align: right;
  text-decoration: none;
  justify-content: center;
  border-radius: 0.6rem;
}

.text-danger-2 {
  color: #ff8080;
}

.sep-product-select {
  border-top: 1px solid #f0f0f0;
}